/* Основные стили */
body {
    color: rgb(34, 34, 34); /* Цвет текста */
    font-family: Arial, sans-serif; /* Шрифт */
    font-size: 14px; /* Размер шрифта */
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Шапка */
.header {
    background-color: #666;
    text-align: center;
    padding: 15px;
    border-radius: 10px; /* Скругляем углы на 10 пикселей */
}

/* Текст в шапке */
.header-text {
    flex-grow: 1; /* Растягиваем текстовый блок, чтобы он занимал оставшееся пространство */
}

.header-text h1 a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста от родительского элемента */
}

.header-text h1 a:hover {
    color: inherit; /* При наведении оставляем цвет как у родительского элемента */
}

/* Контент */
.content {
    background: rgba(179, 179, 179, 0.5); /* Цвет фона */
    width: 100%; /* Ширина блока */
    height: auto; /* Высота блока */
    float: right; /* Выравнивание по правому краю */
    border-radius: 10px; 
    padding: 15px; /* Отступ от внутренних границ блока */
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
}

/* Внедренный контент */
.content iframe {
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    display: block;
    margin-top: 20px;
}

/* Футер */
.footer {
    background: rgb(110, 110, 110); /* Цвет фона */
    width: 100%; /* Ширина блока */
    height: auto; /* Высота блока */
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
}

/* Стили для контактов */
.contact {
    display: inline-block;
    margin-right: 20px;
}

.contact img {
    border-radius: 50%;
    width: 100px; /* Выберите желаемую ширину */
    height: 100px; /* Выберите желаемую высоту */
}

.contact a {
    text-align: center;
    text-decoration: none; /* Удаляем подчеркивание у ссылок */
    color: rgb(0, 0, 0); /* Устанавливаем цвет текста */
}

.contact a:hover {
    color: red;
}

.clear {
    clear: both; /* Запрещает обтекание элемента слева и справа */
}
