/* Основные стили */
body {
    color: rgb(34, 34, 34); /* Цвет текста */
    font-family: Arial, sans-serif; /* Шрифт */
    font-size: 14px; /* Размер шрифта */
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Шапка */
.header {
    background: rgba(44, 8, 8, 0.829); /* Цвет фона */
    text-align: center;
    padding: 15px;
    margin-block-end: 5px;
    text-shadow: 0 0 22px #ffffff; /*Добaвляем тень(свечение) тексту*/
    border-radius: 10px; /* Скругляем углы на 10 пикселей */
}

/* Текст в шапке */
.header-text {
    flex-grow: 1; /* Растягиваем текстовый блок, чтобы он занимал оставшееся пространство */
    
}

.header-text h1 a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста от родительского элемента */
}

.header-text h1 a:hover {
    color: inherit; /* При наведении оставляем цвет как у родительского элемента */
}

/* Контент */
.content {
    background: rgba(179, 179, 179, 0.5); /* Цвет фона */
    width: 100%; /* Ширина блока */
    height: auto; /* Высота блока */
    float: left; /* Выравнивание по левому краю */
    border-radius: 10px; 
    margin-block-end: 5px;
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
}


/* Футер */
.footer {
    background: rgba(44, 8, 8, 0.829); /* Цвет фона */
    width: 100%; /* Ширина блока */
    height: auto; /* Высота блока */
    margin: 5px;
    text-shadow: 0 0 22px #ffffff; /*Добaвляем тень(свечение) тексту*/
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
}


.clear {
    clear: both; /* Запрещает обтекание элемента слева и справа */
}
