/* Основные стили */
body {
    background: #dddddd; /* Цвет фона */
    color: rgb(34, 34, 34); /* Цвет текста */
    font-family: Arial, sans-serif; /* Шрифт */
    font-size: 14px; /* Размер шрифта */
    margin: 0;
    padding: 0;
}

/* Шапка */
.header {
    display: flex; /* Используем flexbox для размещения элементов внутри шапки */
    align-items: center; /* Выравниваем элементы по вертикали */
    background-color: #666;
    text-align: center;
    padding: 15px;
    border-radius: 10px; /* Скругляем углы на 10 пикселей */
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
}



/* Текст в шапке */
.header-text {
    flex-grow: 1; /* Растягиваем текстовый блок, чтобы он занимал оставшееся пространство */
}

.header-text h1 a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста от родительского элемента */
}

.header-text h1 a:hover {
    color: inherit; /* При наведении оставляем цвет как у родительского элемента */
}


/* Контент */
.content {
    background: rgba(179, 179, 179, 0.5); /* Цвет фона */
    width: 100%; /* Ширина блока */
    height: auto; /* Высота блока */
    float: right; /* Выравнивание по правому краю */
    border-radius: 10px; 
    padding: 15px; /* Отступ от внутренних границ блока */
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
}

/* Внедренный контент */
.content iframe {
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin-top: 20px;
}


/* Изображения */
.image {
    text-align: center; /* Центрирование изображения по горизонтали */
}

.image img {
    border-radius: 10px; /* Радиус скругления углов */
}

/* Футер */
.footer {
    background: #333; /* Цвет фона */
    width: 100%; /* Ширина блока */
    height: auto; /* Высота блока */
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
}

.footer p {
    color: #ccc;
}

/* Стили для контактов */
.contact {
    display: inline-block;
    margin-right: 20px;
}

.contact img {
    border-radius: 50%;
    width: 100px; /* Выберите желаемую ширину */
    height: 100px; /* Выберите желаемую высоту */
}

.contact a {
    text-align: center;
    text-decoration: none; /* Удаляем подчеркивание у ссылок */
    color: rgb(0, 0, 0); /* Устанавливаем цвет текста */
}

.contact a:hover {
    color: red;
}
